<div id="container">
		<section id="hero">
			<span class="text-4xl  md:text-8xl font-bold tracking-[1rem] uppercase text-white">Tongue Punch</span>
		</section>
</div>

<style>
	#background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	#container {
		height: 100%;
	}

	#hero {
		background-image: url('../assets/band.JPG');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
		height: 100vh;
		min-height: -webkit-fill-available;
	}

	@media (max-width: 768px) {
		#hero {
			background-position: center top;
		}
	}


</style>
