<!-- Elfsight Instagram Feed | Untitled Instagram Feed -->

<section id="media" class="min-h-screen flex flex-col items-center mx-auto max-w-360 px-8 py-20 w-full">
  <h2 class="text-white text-5xl md:text-8xl tracking-widest uppercase text-center mb-12">Instagram</h2>
  <div class="elfsight-app-f367476e-9edd-4cec-b2ba-749e3947d738" data-elfsight-app-lazy/>
</section>


<style>

    #media {
        .eapps-widget-toolbar {
            display: none;
        }
    }

</style>