---
import "../styles/global.css";
import "@fontsource/anton-sc";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <script is:inline src="https://elfsightcdn.com/platform.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>Tongue Punch</title>
  </head>
  <body>
    <div class="grain-overlay"></div>
    <main class="relative bg-brand-black min-h-screen overflow-x-hidden">
      <slot />
    </main>
    <style is:global>
      html {
        scroll-behavior: smooth;
      }

      body {
        margin: 0;
        width: 100%;
      }
    </style>
  </body>
</html>
