---
import { SEO } from "astro-seo";
import "../styles/global.css";
import "@fontsource/anton-sc";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { 
  title = "Tongue Punch", 
  description = "The official website of Tongue Punch band.",
  image = "/favicon.svg"
} = Astro.props;

// JSON-LD Structured Data for MusicGroup
const schema = {
  "@context": "https://schema.org",
  "@type": "MusicGroup",
  "name": "Tongue Punch",
  "url": "https://www.tonguepunchmusic.com/",

  "sameAs": [
    "https://www.instagram.com/tonguepunchmusic/", 
    "https://open.spotify.com/artist/4dJ9EnUYna17QoVpH6ObIK?si=9w2GuMQrQDeF5JV7rmSybw",
    "https://music.apple.com/us/artist/tongue-punch-music/1829265247",
    "https://www.youtube.com/channel/UCewBInEl2L1L4v6GGloH2dA"
  ]
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <script is:inline src="https://elfsightcdn.com/platform.js"></script>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: image,
        }
      }}
      extend={{
        meta: [
          { name: "generator", content: Astro.generator },
          { name: "theme-color", content: "#000000" },
        ],
      }}
    />
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
  </head>
  <body>
    <div class="grain-overlay"></div>
    <main class="relative bg-brand-black min-h-screen overflow-x-hidden">
      <slot />
    </main>
    <style is:global>
      html {
        scroll-behavior: smooth;
      }

      body {
        margin: 0;
        width: 100%;
      }
    </style>
  </body>
</html>
