---
import '../styles/global.css'
import '@fontsource/anton-sc'
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" href="/favicon.ico" />
  <script is:inline src="https://elfsightcdn.com/platform.js"></script>
  <meta name="generator" content={Astro.generator} />
  <title>Tongue Punch</title>
</head>
<body>
<main class="bg-linear-to-b from-fuchsia-300 to-gray-500">
  <slot />
</main>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: 'Anton SC', sans-serif;
        scroll-behavior: smooth;
    }

</style>
